@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*  /* Mini Normalize CSS */
{
    border: none;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root
{
    --bg-color: #1F242D;
    --main-color: #0EF;
    --bs-secondary-color: #323946;
    --text-color: #FFF;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);
}

header
{
    align-items: center;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

header .sticky
{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.Logo
{
    color: var(--text-color);
    cursor: default;
    font-size: 2.5rem;
    font-weight: 700;
}

nav ul
{
	display: flex;
	justify-content: space-between;
    margin-top: 12px;
}

nav ul li
{
	margin-right: 5px;
}

nav ul li a 
{
    color: var(--text-color);
    font-size: 1.7rem;
    margin-left: 4rem;
    transition: .3s;
}

nav ul li a:hover, nav ul li a.Active
{
    color: var(--main-color);
}

#Menu-Icon
{
    color: var(--text-color);
    font-size: 3.6rem;
    display: none;
}

section 
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.Home 
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.Home-Content h3
{
    font-size: 3.2rem;
    font-weight: 400;
}

.Home-Content h3:nth-of-type(2)
{
    margin-bottom: 2rem;
}

span 
{
    color: var(--main-color);
}

.Home-Content h1
{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.Home-Img img
{
    animation: floatImage 4s ease-in-out infinite;
    width: 35vw;
}

@keyframes floatImage 
{
    0% { transform: translateY(0); }

    50% { transform: translateY(-2.4rem); }

    100% { transform: translateY(0); } 
}

.Home-Content p
{
    font-size: 1.6rem;
}

.Social-Media a
{
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    display: inline-flex;
    font-size: 2rem;
    height: 4rem;
    justify-content: center;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    width: 4rem;
}

.Social-Media a:hover 
{
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--bs-secondary-color);
}

.BTN 
{
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--bs-secondary-color);
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .1rem;
    padding: 1rem 2.8rem;
    transition: .5s ease;
}

.BTN:hover
{
    box-shadow: none;
}

.About 
{
    align-items: center;
    background: var(--bs-secondary-color);
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.About-Img img
{
    width: 35vw;
}

h2.Heading 
{
    font-size: 4.5rem;
    text-align: center;
}

.About-Content h2
{
    line-height: 1.2;
    text-align: left;
}

.About-Content h3
{
    font-size: 2.6rem;
}

.About-Content p
{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.About-Content p.Icons-Logos
{
    color: var(--main-color);
    font-size: 3.5rem;
}

.Services h2 
{
    margin-bottom: 5rem;
}

.Services-Container
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.Services-Container .Services-Box
{
    background: var(--bs-secondary-color);
    border: .2rem solid var(--bg-color);
    border-radius: 2rem;
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    transition: .5s ease;
    text-align: center;
}

.Services-Container .Services-Box:hover
{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.Services-Box i 
{
    color: var(--main-color);
    font-size: 7rem;
}

.Services-Box h3 
{
    font-size: 2.6rem;
}

.Services-Box p
{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.Portafolio
{
    background: var(--bs-secondary-color);
}

.Portafolio h2
{
    margin-bottom: 4rem;
}

.Portafolio-Container
{
    align-items: center;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.Portafolio-Container .Portafolio-Box
{
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    display: flex;
    overflow: hidden;
    position: relative;
}

.Portafolio-Box img
{
    transition: .5s ease;
    width: 100%;
}

.Portafolio-Box img:hover
{
    transform: scale(1.1);
}

.Portafolio-Box .Portafolio-Layer
{
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 0 4rem;
    position: absolute;
    transform: translateY(100%);
    transition: .5s ease;
    text-align: center;
    width: 100%;
}

.Portafolio-Box:hover .Portafolio-Layer
{
    transform: translateY(0);
}

.Portafolio-Layer h4
{
    font-size: 3rem;
}

.Portafolio-Layer p
{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.Portafolio-Layer a
{
    align-items: center;
    background: var(--text-color);
    border-radius: 50%;
    display: inline-flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}

.Portafolio-Layer a i 
{
    color: var(--bs-secondary-color);
    font-size: 2rem;
}

.Contact h2
{
    margin-bottom: 3rem;
}

.Contact form
{
    margin: 1rem auto;
    margin-bottom: 3rem;
    max-width: 70rem;
    text-align: center;
}

.Contact form .Input-Box
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Contact form .Input-Box input, .Contact form textarea
{
    background: var(--bs-secondary-color);
    border-radius: .8rem;
    color: var(--text-color);
    font-size: 1.6rem;
    margin: .7rem 0;
    padding: 1.5rem;
    width: 100%;
}

.Contact form .Input-Box input
{
    width: 49%;
}

.Contact form textarea
{
    resize: none;
}

.Contact form .BTN
{
    cursor: pointer;
    margin-top: 2rem;
}

footer
{
    align-items: center;
    background: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 9%;
}

.Footer-Text
{
    font-size: 1.6rem;
}

.Footer-IconTop a
{
    align-items: center;
    background: var(--main-color);
    border-radius: .8rem;
    display: inline-flex;
    justify-content: center;
    padding: .8rem;
    transition: .5s ease;
}

.Footer-IconTop a:hover
{
    box-shadow: 0 0 1rem var(--main-color);
}

.Footer-IconTop a i
{
    color: var(--bs-secondary-color);
    font-size: 2.4rem;
}

/*NOTE - BREAKPOINTS */

@media (max-width: 1200px)
{
    html{ font-size: 55%; }
}

@media (max-width: 991px)
{
    header, footer { padding: 2rem 3%; }

    section { padding: 10rem 3% 2rem; }

    .Services, .Portafolio { padding-bottom: 7rem; }

    .Contact { min-height: auto; }
}

@media (max-width: 768px)
{
    #Menu-Icon { display: block; }

    nav 
    {
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
        left: 0;
        padding: 1rem 3%;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    header nav ul { flex-direction: column; }

	header nav ul li
	{
		font-size: 20px;
		margin-bottom: 5px;
		text-align: center;
	}

    nav.Active 
    { 
        display: block;
        transition: .3s; 
    }

    nav ul li a 
    {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .Home { flex-direction: column; }

    .Home-Content h3 { font-size: 2.6rem; }

    .Home-Content h1 { font-size: 5rem; }

    .Home-Img img, .About img
    {
        margin-top:  4rem;
        width: 70vw;
    }

    .About { flex-direction: column-reverse; }

    .Services h2 { margin-bottom: 3rem; }

    .Portafolio h2 { margin-bottom: 3rem; }

    .Portafolio-Container { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 617px)
{
    .Portafolio-Container { grid-template-columns: 1fr; }
}

@media (max-width: 450px)
{
    html { font-size: 50%; }

    .Contact form .Input-Box input { width: 100%; }
}

@media (max-width: 365px)
{
    .Home-Img img, .About img { width: 90vw; }

    footer { flex-direction: column-reverse; }

    footer p 
    {
        margin-top: 2rem;
        text-align: center;
    }
}