@charset "UTF-8";
/*NOTE - Inicio del Responsive Web Design  */
@media (max-width: 1250px) /* 1283px */
{
 .wrap 
 {
  margin: 0px auto;
  width: 90%;
 }

 #Banner h1 
 {
  font-size: 35px;
  margin: 20px auto;
  text-align: center;
 }

 .card
 {
  margin: 1.45%;
  width: 17%;
 }

 .card p 
 {
  display: block;
  margin: 0px auto;
  text-align: center;
  width: 90%;
 }

 #Articles
 {
  width: 59.5%;
 }

 #Articles article  
 {
  width: 97%;
 }

 footer .wrap > div 
 {
  width: 24%;
 }

 footer h5 
 {
  font-size: 25px;
 }

 footer .Browsers 
 {
  width: 14%;
 }

 .Info p > img 
 {
  width: 100%;
 }
}

@media (max-width: 1146px)
{
  #Articles
  {
    width: 56%;
  }
}

@media (max-width: 1043px)
{
  #Articles
  {
    width: 53%;
  }

  #Articles, aside 
  {
    padding-top: 20px;
  }

  .card h2 
  {
    font-size: 17px;
  }

  .card .description 
  {
    font-size: 14px;
  }
}

@media (max-width: 969px)
{
  #Articles
  {
    width: 50%;
  }
}

@media (max-width: 952px)
{
 footer .wrap > div 
 {
  width: 23%;
 }

 footer h5 
 {
  font-size: 20px;
 }
}

@media (max-width: 934px)
{
  #Banner h1 
  {
    margin: 20px -35px;
  }

  #Articles
  {
    width: 59%;
  }

  #Articles article h4 a 
  {
    font-size: 17px;
  }

  aside 
  {
    width: 25%;
  }

  aside h3 
  {
    font-size: 20px;
    line-height: 50px;
  }

  input[type="submit"], input[type="reset"] 
  {
    font-size: 12px;
    height: 30px;
    margin-left: 12px;
    width: 70px;
  }

  input[type="text"]
  {
    width: 75%;
  }

  #Menufooter li ul a 
  {
    font-size: 17px;
  }

  .Autor
  {
    font-size: 9px;
  }
}

@media (max-width: 858px) and (min-width: 800px)
{
  .card h2 
  {
    font-size: 14px;
  }

  .card .description 
  {
    font-size: 12px;
  }

  input[type="submit"], input[type="reset"] 
  {
    margin-left: 10px;
    width: 60px;
  }

 footer .wrap > div 
 {
   width: 22%;
 }

 footer #MenuFooter ul li a 
 {
   font-size: 68%;
 }
}

@media (max-width: 799px)
{
  #Banner h1 
  {
    font-size: 28px;
    margin: 22px -90px;
  }

  .card
  {
    height: auto;
  }

  .card h2 
  {
    font-size: 14px;
    margin-top: -23px;
  }

  .card .description
  {
    display: none;
    /*font-size: 11px;*/
  }

  .aside-box
  {
    height: auto;
    min-height: 230px;
    width: 95%;
  }

  input[type="submit"], input[type="reset"] 
  {
    margin-left: 10px;
    width: 60px;
  }

  .Overlay
  {
    font-size: 12px;
  }

 footer .wrap > div 
 {
  width: 22%;
 }

 footer h5
 {
  font-size: 14px;
 }

 footer .Browsers
 {
  width: 14%;
 }

 footer #MenuFooter ul li a 
 {
  font-size: 60%;
 }
}

@media (max-width: 792px)
{
  #Banner h1 
  {
    margin: 22px auto;
    width: 100%;
  }

  #Articles
  {
    width: 57%;
  } 
}

@media (max-width: 784px)
{
  footer .wrap > div 
  {
    width: 21%;
  }

  footer .Browsers
 {
  width: 23%;
 }
}

@media (max-width: 724px)
{
  header 
  {
    height: 140px;
    padding-top: 10px;
    width: 100%;
  }

  nav 
  {
    clear: both;
    float: none;
    margin: 0px auto;
    width: 440px;
  }

  #Logo
  {
    float: none;
    margin: 0px auto;
    width: 200px;
  }
}

@media (max-width: 721px)
{
  #Articles article h4 a 
  {
    font-size: 15px;
  }

  footer .wrap > div 
  {
    width: 20%;
  }
}

@media (max-width: 690px)
{
  #Articles
  {
    width: 54%;
  }

  input[type="submit"], input[type="reset"] 
  {
    margin-left: 8px;
  }

  #Login a 
  {
    font-size: 12px;
    margin-left: 10px;
  }

  footer h5 
  {
    font-size: 12px;
  }
}

@media (max-width: 668px)
{
  footer .wrap > div 
  {
    width: 19%;
  }

  footer h5 
  {
    font-size: 10px;
  }
}

@media (max-width: 637px)
{
  aside 
  {
    float: none;
    margin: 0px auto;
    margin-top: 20px;
    min-height: auto;
    width: 100%;
  }

  input[type="button"]
  {
    float: right;
    padding-right: 10px;
  }

  #User
  {
    margin-left: 20px;
  }

  #Password
  {
    margin-left: 23px;
  }

  #Articles
  {
    float: none;
    margin: 0px auto;
    margin-top: 20px;
    min-height: auto;
    width: 96%;
  }

  footer
  {
    height: auto;
    padding-bottom: 45px;
  }

  /*footer .wrap
  {
    width: 98%;
  }*/

  footer .wrap > div 
  {
    margin: 0px auto;
    margin-top: 20px;
    width: 100%;
  }

  footer h5 
  {
    font-size: 25px;
  }

  footer #MenuFooter ul li a 
  {
    font-size: 109%;
  }

  footer .Browsers 
  {
    width: 11%;
  }

  .Info p > img
  {
    width: 50%;
  }

  .Autor
  {
    font-size: 14px;
  }
}

@media (max-width: 578px)
{
  header 
  {
    height: 200px;
    padding-top: 10px;
    width: 100%;
  }

  #Logo
  {
    float: left;
  }

  nav
  {
    clear: both;
    margin: 0px auto;
    float: none;
    width: 100%;
  }

  nav ul li 
  {
    line-height: 52px;
    width: 100%;
  }

  nav ul li a 
  {
    line-height: 30px;
    width: 100%;
  }

  nav ul li a:hover
  {
    color: #37BCF9;
    transform: scale(1,1);
  }

  #Banner
  {
    height: 85px;
  }

  #Banner h1
  {
    font-size: 18px;
  }

  .card .icon, .card:hover .icon
  {
    font-size: 35px;
  }

  .card .category
  {
    font-size: 13px;
  }

  #Articles .data
  {
    border-radius: 0px 0px 0px 0px;
    float: none;
    margin: -10px;
  }

  #Articles article h4 
  {
    margin-top: 20px;
  }
}