@charset "UTF-8";

/* *NOTE - Formatear hoja de Estilos. */
*
{
	border: none;
	box-sizing: border-box;
  list-style: none;
  margin: 0;
	padding: 0;
  outline: none;
	text-decoration: none;
}

/**NOTE - Fuentes Importadas */
@font-face
{
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/TrebuchetMS.ttf);
}

@font-face
{
  font-family: "BebasNeue";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/BebasNeue.otf);
}

@font-face
{
  font-family: "WebSymbolsRegular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/websymbols-regular-webfont.eot");
  src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), 
      url("fonts/websymbols-regular-webfont.woff") format("woff"), 
      url("fonts/websymbols-regular-webfont.ttf") format("truetype"), 
      url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
}

/** Estilos Generales */
.gear, .icon
{
  font-family: "WebsymbolsRegular";
}

body
{
  background-image: url("../img/Psattern.png");
}

/**SECTION - Cabecera */
header
{
  background-color: black;
  color: white;
  height: 70px;
  font-family: "BebasNeue";
  width: 100%;
}

nav
{
  background-color: transparent;
  float: right;
  height: 70px;
}

nav ul li
{
  display: inline-block;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 75px;
  margin: 0px 20px;
}

nav ul li a
{
  color: white;
  display: block;
  transition: all 200ms;
}

nav ul li a:hover
{
  color: #37BCF9;
  transform: scale(1.2, 1.2);
}

.wrap
{
  margin: 0px auto;
  width: 1250px;
}

#Logo
{
  background-color: #37BCF9;
  cursor: pointer;
  float: left;
  letter-spacing: 1px; 
  margin-left: 20px;
  margin-top: 8px;
  overflow: hidden;
  transition: all 300ms;
  width: 200px;
}

#Logo:hover
{
  background-color: #CCC;
  border-radius: 2px;
  color: black;
}

#Logo h3
{
  display: block;
  float: right;
  font-size: 40px;
  margin-right: 65px;
  margin-top: 5px;
  transition: all 300ms;
}

#Logo .gear
{
  animation-name: rotate-gear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block;
  float: left;
  font-size: 30px;
  margin-left: 26px;
  margin-top: 8px;
}

/* Animación del Logo */
@keyframes rotate-gear
{
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(360deg); }
}

#Logo:hover .gear
{
  animation: fromBellow 500ms linear;
}

@keyframes fromBellow
{
  0% { transform:  translateY(0%); }
  50% { transform: translateY(200%); }
  100% { transform: translateY(0%); }
}

#Logo:hover h3
{
  animation: fromRight 300ms linear;
}

@keyframes fromRight
{
  from { transform: translateX(200%); }
  to { transform: translateX(0%); }
}

/**SECTION - Banner */
#Banner
{
  animation: BackBanner 10s linear;
  background-image: url(../img/Banner.png);
  background-position: -200px -200px;
  border: 10px solid white;
  box-shadow: 0px 0px 2px gray;
  height: 100px;
  margin: 20px auto;
  overflow: hidden;
  width: 95.5%;
}

@keyframes BackBanner
{
  0% { background-position: 0px 0px; }
  100% { background-position: -200px -200px; }
}

h1
{
  animation: ShowText 10s linear;
  color: white;
  display: block;
  font-family: "BebasNeue";
  font-size: 45px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 15px auto; /* 27px */
  text-align: center; /*NOTE - Tocó agregar para centrar el texto. */
  text-shadow: 2px 2px 1px black;
  width: 850px;
}

@keyframes ShowText
{
  0% 
  { 
    opacity: 1;
    transform:  translateX(-600%) scale(5,5);
  }
  50%
  { 
    opacity: 1;
    transform:  translateX(600%) scale(5,5);
  }
  75%
  { 
    color: transparent;
    opacity: 0;
    text-shadow: none;
    transform:  translateX(-600%) scale(5,5);
  }
  100%
  { 
    color: white;
    opacity: 1;
    text-shadow: 2px 2px 1px black;
    transform:  translateX(0%) scale(1,1);
  }
}

/*SECTION - Cards // Tarjetas */
.card
{
  background-color: white;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 2px #DDD;
  cursor: pointer;
  float: left;
  height: 305px;
  margin: 22px;
  margin-top: 40px;
  overflow: hidden;
  transition: all 300ms;
  width: 205px;
}

.card:hover
{
  background-color: black;
}

.card:last-child
{
  margin-right: 0px;
}

.card .icon
{
  display: block;
  height: 130px;
  font-size: 50px;
  line-height: 130px;
  margin: 0px auto;
  text-align: center;
  transition: all 300ms;
  width: 100%;
}

.card:hover .icon
{
  animation: Showicon 300ms linear;
  color: #37BCF9;
  font-size: 70px;
}

@keyframes ShowIcon
{
  from { transform: translateY(-200%); }
  to { transform: translateY(0%); }
}

h2
{
  color: #00538C;
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  text-align: center;
  transition: all 300ms;
  width: 100%;
}

.card:hover h2
{
  animation: ShowCategory 400ms linear;
  color: white;
}

@keyframes ShowCategory
{
  from 
  { 
    color: black;
    transform: translateY(-300%);
  }
  to 
  {
    color: white;
    transform: translateY(0%);
  }
}

.card .description
{
  color: #0370B9;
  font-family: "Trebuchet MS";
  font-size: 15px;
  text-align: center;
  transition: all 300ms;
}

.card:hover .description
{
  animation: ShowDescription 400ms linear;
  color: white;
}

@keyframes ShowDescription
{
  from 
  { 
    color: black;
    transform: translateX(-300%); 
  }
  to 
  {
    color: white;
    transform: translateX(0%);
  }
}

aside
{
  float: right;
  font-family: "Trebuchet MS";
  margin-right: 29px;
  min-height: 1200px;
  margin-top: 20px;
  width: 300px;
}

aside h3
{
  background: url("../img/PXGray.png"), white;
  box-shadow: 0px 1px 0px #393D3F, 1px 2px 0px #393D3F, 2px 3px 0px #393D3F, 3px 4px 0px #393D3F;
  display: block;
  height: 49px;
  font-family: "BebasNeue";
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 45px;
  margin-bottom: 30px;
  margin-top: 15px;
  padding-left: 15px;
  width: auto;
}

aside h3:first-child
{
  margin-top: 0px;
}

#Search
{
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 1px 1px 4px inset;
  height: 30px;
  margin: 10px auto;
  width: 90%;
}

input[type="text"]
{
  background-color: transparent;
  border-radius: 5px;
  color: #CCC;
  height: 30px;
  padding-left: 5px;
  transition: all 300ms;
  width: 85%;
}

input[type="text"]:focus
{
  color: #555;
}

input[type="button"]/*, input[type="submit"], input[type="reset"]*/
{
  background-color: transparent;
  border-left: 1px solid #CCC;
  color: #555;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  padding-left: 6px;
}

.aside-box
{
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
  height: 240px;
  margin: 0px auto;
  margin-top: 20px;
  padding-bottom: 20px; /*NOTE - Se añade este. */
  padding-top: 20px;
  width: 85%;
}

#Login input[type="email"], #Login input[type="password"]
{
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #CCC inset;
  color: gray;
  display: block;
  height: 30px;
  margin: 0px auto;
  margin-top: 10px; /* 20px */
  padding-left: 30px;
  width: 95%;
}

#Login input[type="email"]:focus, #Login input[type="password"]:focus
{
  box-shadow: 1px 1px 1px gray inset;
  color: #555;
}

#User, #Password
{
  display: block;
  margin-left: 15px;
  margin-top: 6px;
  height: 30px;
  position: absolute;
  text-align: center;
}

#Password
{
  font-size: 20px;
  margin-left: 18px;
  margin-top: 15px;
}

input[type="submit"], input[type="reset"]
{
  background: linear-gradient(to bottom, #3EB8E5 0%, #2CA0CA 100%);
  border: 1px solid #156785;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-family: "Trebuchet MS";
  font-size: 15px;
  font-weight: lighter;
  height: 35px;
  margin-bottom: 20px;
  margin-left: 17px;
  margin-top: 20px;
  transition: all 300ms;
  text-align: center;
  width: 100px;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover
{
  box-shadow: 0px 0px 3px gray;
}

#Login a
{
  color: #555;
  display: block;
  font-size: 14px;
  margin-bottom: -20px; /*NOTE - Tocó añadir esto.*/
  margin-left: 18px;
}

#Login a:hover
{
  color: #2F78BC;
  text-decoration: underline;
}

#Social
{
  height: 190px;
}

#Social a
{
  color: #333;
  display: block;
  font-size: 30px;
  margin: 10px 20px;
}

#Social .Overlay
{
  background-color: #F4F7FE;
  border: 3px solid white;
  box-shadow: 0px 0px 4px #CCC;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 32px;
  letter-spacing: 1px;
  margin-left: 70px;
  margin-top: -44.5px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-shadow: 0px 0px 1px #CCC;
  transform: translateX(-80%);
  transition: all 400ms;
}

#Social div:hover .Overlay
{
  opacity: 1;
  transform: translateX(0%);
}

.Clearfix
{
  clear: both;
  float: none;
}

/* !SECTION - Artículos del Blog */
#Articles
{
  float: right;
  margin: 0px 39px;
  margin-top: 20px;
  width: 860px;
}

#Articles h2
{
  background: url("../img/PXGray.png"), white;
  box-shadow: 0px 1px 0px #393D3F, 1px 2px 0px #393D3F, 2px 3px 0px #393D3F, 3px 4px 0px #393D3F;
  display: block;
  font-family: "BebasNeue";
  font-size: 40px;
  font-weight: normal;
  height: 75px;
  letter-spacing: 2px;
  line-height: 75px;
  margin: 0px auto;
  margin-bottom: 15px;
  width: 100%;
}

#Articles article
{
  background-color: white;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 2px #DDD;
  color: black;
  font-family: "Trebuchet MS";
  height: auto;
  margin: 40px auto;
  padding: 10px;
  width: 100%;
}

#Articles article h4
{
  display: block;
  font-size: 23px;
  margin: 3px;
}

#Articles article h4 a
{
  color: #00538C;
}

#Articles article h4 a:hover
{
  text-decoration: underline;
}

#Articles .data
{
  background-color: #393D3F;
  border-radius: 0px 0px 0px 5px;
  color: white;
  float: right;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  margin: -10px;
  padding: 4px;
}

#Articles .data span
{
  margin: 6px;
}

#Articles article p
{
  font-size: 15px;
  margin: 10px 0px;
}

#Blog
{
  height: 100px;
  line-height: 100px;
  margin-top: 60px;
  text-align: center;
  transition: all 1s;
}

#Blog a
{
  color: #00538C;
  display: block;
  font-family: "BebasNeue";
  font-size: 40px;
  letter-spacing: 3px;
  transition: all 1s;
}

#Blog:hover
{
  animation: ShowColor 10s infinite linear;
  background-color: #333;
  border: 1px solid #37BCF9;
  border-radius: 240px;
  box-shadow: 0px 0px 10px gray;
}

#Blog:hover a
{
  color: white;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
}

@keyframes ShowColor 
{
  0% { border: 10px solid #37BCF9; }
  25% { border: 10px solid green; }
  50% { border: 10px solid yellow; }
  75% { border: 10px solid white; }
  100% { border: 10px solid #37BCF9; }
}

/*SECTION - Pie de Página */
footer
{
  background-color: black;
  color: white;
  height: 470px;
  overflow: hidden;
  width: 100%;
}

footer .wrap > div
{
  /*color: white;*/
  float: left;
  font-family: "Trebuchet MS";
  height: 370px;
  margin: 40px;
  text-align: center;
  width: 320px;
}

footer ul
{
  font-size: 25px;
  margin: 20px;
  text-align: left;
}

footer ul li
{
  border-bottom: 1px solid #CCC;
  list-style: circle;
  margin-top: 10px;
  padding: 5px;
}

footer ul li a
{
  display: block;
  height: 40px;
  transition: all 300ms;
}

footer ul li:hover a
{
  color: white;
  padding-left: 40px;
  width: 100%;
}

footer a
{
  color: #37BCF9;
  transition: all 300ms;
}

footer h5
{
  background: url("../img/PXGray.png"), white;
  border-radius: 5px;
  color: black;
  display: block;
  font-family: "BebasNeue";
  font-size: 40px;
  height: 50px;
  letter-spacing: 2px;
  line-height: 55px;
  margin-bottom: 15px;
  text-align: center;
}

footer iframe
{
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  height: 300px;
  margin-top: 10px;
  width: 100%;
}

footer img
{
  margin-bottom: 15px;
}

.Browsers
{
  width: 45px;
}

.Autor
{
  font-size: 12px;
}